/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Section */
.hero-section {
    background-image: url('Logo.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-section .cta-button {
    background-color: #388e3c;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.125rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-section .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

/* Video Section */
.video-section {
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
}

.video-container {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px;
    margin: 0 auto;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.video-description {
    padding: 20px;
}

.video-description h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.video-description p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    background-color: #0077b6;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #005f8a;
}

/* Product Grid Section */
.products {
    text-align: center;
    padding: 50px;
    background-color: #e8f5e9;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    width: calc(25% - 40px); /* Adjust for spacing */
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.product-card__image {
    height: 250px;
    overflow: hidden;
}

.product-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-card:hover .product-card__image img {
    transform: scale(1.05);
}

.product-card__info {
    padding: 20px;
}

.product-card__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.product-card__description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.product-card__price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card__price {
    font-size: 1.25rem;
    font-weight: 600;
    color: #388e3c;
}

.product-card__btn {
    background-color: #388e3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card__btn:hover {
    background-color: #C71729;
}

@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 40px); /* Adjust for spacing */
    }
}

@media (max-width: 480px) {
    .product-card {
        width: calc(100% - 40px); /* Adjust for spacing */
    }

    .product-card__image {
        height: 200px;
    }

    .product-card__title {
        font-size: 1.3rem;
    }

    .product-card__description {
        font-size: 0.8rem;
    }

    .product-card__price {
        font-size: 1.1rem;
    }

    .product-card__btn {
        padding: 8px 16px;
        font-size: 0.8rem;
    }
}

/* Takealot Approval Section */
.takealot-approval {
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
}

.takealot-approval h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.takealot-approval p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Proudly South African Section */
.proudly-sa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #e8f5e9;
}

.proudly-sa img {
    width: 100px;
    margin-bottom: 10px;
}

.proudly-sa h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.proudly-sa p {
    font-size: 1.2rem;
}

/* Final CTA Section */
.final-cta {
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
}

.final-cta h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.final-cta .cta-button {
    font-size: 1.125rem;
}

/* Footer Section */
.footer {
    background-color: #388e3c;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    font-size: 0.9rem;
} 
